import { cn } from "@/utils/cn";

type {{pascalCase componentName}}Props = {
  /** 追加のクラス名 */
  className?: string;
  /** 子要素 */
  children?: React.ReactNode;
  // TODO: 必要なpropsを追加してください
};

/**
 * {{pascalCase componentName}}コンポーネント
 *
 * TODO: コンポーネントの説明を記述してください
 *
 * @example
 * ```tsx
 * <{{pascalCase componentName}}>
 *   コンテンツ
 * </{{pascalCase componentName}}>
 * ```
 */
export const {{pascalCase componentName}} = ({
  className,
  children,
}: {{pascalCase componentName}}Props) => {
  return (
    <div className={cn("", className)}>
      {children || "{{pascalCase componentName}} Component"}
    </div>
  );
};
